.container {
    display: flex;
    background-color: black;
}

header {
    display: flex;
}

.background-main {
    background-image: url("../assets/dashboard-usuario/background-main.svg");
}

ul{
    display: flex;
    flex-direction: column;
}