@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: #F5E9E2;
    box-sizing: border-box;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: row;
}

.left {
    width: 20%;
    height: 130dvh;
    background-color: #053225;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5dvh;
}

h2 {
    max-width: 300px;
    max-height: 70px;
    font-size: 35px;
    font-weight: 400;
}

.profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-wrap: wrap;
    margin: 20px 0px 20px 0px;
}

.profile img {
    border-radius: 100px;
    width: 40%;
    border: 1px solid white;
}

.profile-info h3 {
    font-size: 30px;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.profile-header p {
    margin-top: 10px;
}

aside nav ul li {
    width: 250px;
    height: 50px;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

aside nav ul li a {
    display: flex;
    gap: 12px;
    font-size: 23px;
    font-weight: 300;
    text-decoration: none;
    color: #ffffff;
    margin: 0px 0px 0px 15px;
}

aside nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 10px;
}

header {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px 0 35px;

}

header h1{
    font-size: 32px;
    font-weight: 500;
}

form{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 600px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 10px;
}

form img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

form input{
    border: none;
    width: 667px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}

.right{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110vh;
}

.background-content{
    margin-top: 20px;
    width: 90%;
    height: 500vh;
    background-color: #ffffff;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

ul{
    display: flex;
    flex-direction: column;
}

.desempenho{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    font-weight: bold;
}

.desempenho article{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 150px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    gap: 20px;
}

.desempenho img{
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
}

.desempenho article.treino {
    background-color: #2D92E3;
}

.desempenho article.calorias {
    background-color: #3FBA0B;
}

.desempenho article.peso {
    background-color: #EFA73C;
}

.treinos{
    height: 298px;
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.grafico{
    width: 70%;
    height: 298px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-all{
     width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: space-around;
}

.col{
    border-radius: 10px;
    margin-bottom: 10px;
}

.c-b{
    background-color: #2D92E3;
}

.c-g{
    background-color: #3FBA0B;
}

.c-o{
    background-color: #EFA73C;
}

.c-1{
    width: 4%;
    height: 20%;
}
.c-2{
    width: 4%;
    height: 40%;
}
.c-3{
    width: 4%;
    height: 60%;
}
.c-4{
    width: 4%;
    height: 50%;
}
.c-5{
    width: 4%;
    height: 70%;
}
.c-6{
    width: 4%;
    height: 30%;
}
.c-7{
    width: 4%;
    height: 80%;
}
.c-8{
    width: 4%;
    height: 40%;
}
.c-9{
    width: 4%;
    height: 50%;
}
.c-10{
    width: 4%;
    height: 70%;
}
.c-11{
    width: 4%;
    height: 75%;
}
.c-12{
    width: 4%;
    height: 60%;
}
.c-13{
    width: 4%;
    height: 50%;
}
.c-14{
    width: 4%;
    height: 32%;
}
.c-15{
    width: 4%;
    height: 69%;
}
.c-16{
    width: 4%;
    height: 34%;
}

.line-col{
    width: 97%;
    height: 11px;
    background-color: #000;
    border-radius: 10px;
    margin-bottom: 26px;
    border-radius: 10px;
}

.sec-treinos-semanais{
    width: 25%;
    height: 298px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sec-treinos-semanais article{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90px;
    border-radius: 10px;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
}

.sec-treinos-semanais article div{
    display: flex;
    gap: 10px;
}

.sec-treinos-semanais article div{
    display: flex;
    align-items: center;
}

.met-exe{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.metas {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.metas article{
    display: flex;
    width: 100%;
    height: 25px;
    border-radius: 10px;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
}

.exercicios{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}

.exercicios article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.exercicios article p{
    font-size: small;
}