@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: #F5E9E2;
    box-sizing: border-box;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: row;
}

.left {
    width: 20%;
    height: 130dvh;
    background-color: #053225;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5dvh;
}

h2 {
    max-width: 300px;
    max-height: 70px;
    font-size: 35px;
    font-weight: 400;
}

.profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-wrap: wrap;
    margin: 20px 0px 20px 0px;
}

.profile img {
    border-radius: 100px;
    width: 40%;
    border: 1px solid white;
}

.profile-info h3 {
    font-size: 30px;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.profile-header p {
    margin-top: 10px;
}

aside nav ul li {
    width: 250px;
    height: 50px;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

aside nav ul li a {
    display: flex;
    gap: 12px;
    font-size: 23px;
    font-weight: 300;
    text-decoration: none;
    color: #ffffff;
    margin: 0px 0px 0px 15px;
}

aside nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 10px;
}

.treinos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 50px;
    justify-content: space-around;
}

.treino{
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.300);
    border-radius: 10px;
    padding: 10px;
    width: 30%;
}

.treino h2{
    font-size: 20px;
    font-weight: 500;
}

.treino p{
    font-size: 15px;
}

.treino img{
    width: 70%;
    transition: 0.5s;
}

.treino img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main h1{
    padding: 30px;
    font-size: 30px;
}