@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: #F5E9E2;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left {
    width: 20%;
    height: 100%;
    background-color: #053225;
}

.right {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right picture img {
    border-radius: 100%;
}

.user-picture {

}

.gender {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 256px;
    height: 21px;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
}

.gender select {
    border-style: none;

}

.gender label {
    font-size: 14px;
}

h3 {
    font-size: 18px;

}

.form {
    width: 80%;
}

.form-inner {
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-inner input {
    width: 250px;
    font-size: 14px;
    padding: 15px;
    border-radius: 10px;
    border-style: none;
}

.about-me {
    width: 80%;
}

.about-me h3 {
    margin: 10px 0px;
    font-size: 18px;
}
.about-me textarea {
    border-style: none;
    border-radius: 10px;
    width: 100%;
    padding: 18px 0px;
    resize: none;
}